{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ایجاد کاربر جدید</title>
    <link rel="stylesheet" href="{% static 'accounts/css/form_styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>ایجاد کاربر جدید</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">ایجاد</button>
        </form>
    </div>
</body>
</html>
